[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/pack/plugins/start/.zsh/zsh-autosuggestions"]
	path = .vim/pack/plugins/start/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/plugins/start/vim-showmarks"]
	path = .vim/pack/plugins/start/vim-showmarks
	url = https://github.com/jacquesbh/vim-showmarks
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "/home/kevin/.config/nvim/pack/plugins/start/nvim-cmp"]
	path = /home/kevin/.config/nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "/home/kevin/.config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = /home/kevin/.config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "/home/kevin/.config/nvim/pack/plugins/start/cmp-buffer"]
	path = /home/kevin/.config/nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "/home/kevin/.config/nvim/pack/plugins/start/cmp-path"]
	path = /home/kevin/.config/nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "/home/kevin/.config/nvim/pack/plugins/start/LuaSnip"]
	path = /home/kevin/.config/nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "/home/kevin/.config/nvim/pack/plugins/start/plenary.nvim"]
	path = /home/kevin/.config/nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "/home/kevin/.config/nvim/pack/plugins/start/telescope.nvim"]
	path = /home/kevin/.config/nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "/home/kevin/.config/nvim/pack/plugins/start/catppuccin"]
	path = /home/kevin/.config/nvim/pack/plugins/start/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "/home/kevin/.config/nvim/pack/plugins/start/nvim-treesitter"]
	path = /home/kevin/.config/nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "/home/kevin/.vim/pack/vendor/start/catppuccin"]
	path = /home/kevin/.vim/pack/vendor/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "/home/kevin/.vim/pack/plugins/start/lightline"]
	path = /home/kevin/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
