# Ignore everything by default
*
# Ignore macOS Finder junk
.DS_Store
**/.DS_Store

# Allow the specific files
!.gitignore
!README.md
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!README.md

# Allow the specific directories and their contents
!.vim/
!.vim/**
!.zsh/
!.zsh/**

# Ignore macOS Finder junk
.DS_Store
**/.DS_Store
!backup_kde.sh 
!restore_kde.sh
